@using FrontSystemWine.DTOS

<div class="col-lg-4 mb-5 col-md-6">
    <div class="wine_v_1 text-center pb-4">
        <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="images/wine_1.png" alt="Image" class="img-fluid"></a>
        <h3 class="heading mb-1"><a href="#">@vinho.Descricao @nota_a</a></h3>
    </div>
    <span class="Uva"><b>Uva:</b> @vinho.TipoUva</span>
    <span class="price"><b>Valor:</b> R$ @vinho.Valor</span>
    <div class="rate">

        <input type="radio" id="star@(vinho.Id)_5" name="rate@(vinho.Id)" value="5" />
        <label for="star@(vinho.Id)_5" @onclick="@(() => Votar(5))" title="5">nota</label>

        <input type="radio" id="star@(vinho.Id)_4" name="rate@(vinho.Id)" value="4" />
        <label for="star@(vinho.Id)_4" @onclick="@(() => Votar(4))" title="4">nota</label>

        <input type="radio" id="star@(vinho.Id)_3" name="rate@(vinho.Id)" value="3" />
        <label for="star@(vinho.Id)_3" @onclick="@(() => Votar(3))" title="3">nota</label>

        <input type="radio" id="star@(vinho.Id)_2" name="rate@(vinho.Id)" value="2" />
        <label for="star@(vinho.Id)_2" @onclick="@(() => Votar(2))" title="2">nota</label>

        <input type="radio" id="star@(vinho.Id)_1" name="rate@(vinho.Id)" value="1" />
        <label for="star@(vinho.Id)_1" @onclick="@(() => Votar(1))" title="1">nota</label>

    </div>
</div>

@code {
    double nota_a = 0;
    [Parameter]
    public VinhoListagem vinho { get; set; }

    void Votar(double nota)
    {
        nota_a = nota;
    }
}
